body {
  font-family: "Hoefler Text", Garamond, Georgia, serif;
  padding:0;
  margin:0;
  background-color: #d1d1d1;
}

h1 {
font-size: 1em;
color:gray;
padding:0;
margin:0;
text-align: center;
}

.details {
  font-size:1.2em;
  color: #4c5a40;
}

img {
  width:80%;
  display: block;
  margin: 10px auto;
}

div.everything {
  margin:10px auto;
  width:auto;
  padding:20px;
  background-color: white;
}


@media only screen and (min-width: 600px) {

  img {
    width:30%;
    float:right;
  }
  div.everything {
    margin:10px auto;
    width:70%;
    max-width:850px;
    padding:20px;
    overflow: auto;
  }


}
